<div class="footer-container">
    <div id="links"></div>
    <div id="buttons-container"> 
            <a [href]="stackoverflowUrl" target="_blank">
                <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/stackoverflow-hexagon-social-media-32.png" alt=""
                 matTooltip="StackOverflow" matTooltipPosition="above">
            </a>
            <a [href]="twitterUrl" target="_blank">
                <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/twitter-hexagon-social-media-32.png" alt="" matTooltip="Twitter"
                 matTooltipPosition="above">
            </a>
            <a [href]="githubUrl" target="_blank">
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_six_color-32.png" alt="" matTooltip="Github"
                 matTooltipPosition="above">
            </a>
            <a [href]="facebookUrl" target="_blank">
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-16-32.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
            </a>
            <a [href]="googleUrl" target="_blank">
                <img src="https://cdn4.iconfinder.com/data/icons/miu-hexagon-flat-social/60/google_plus-hexagon-social-media-32.png" alt=""
                 matTooltip="Google+" matTooltipPosition="above">
            </a>
            <a [href]="linkedinUrl" target="_blank">
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/Untitled-11-32.png" alt="" matTooltip="LinkedIn" matTooltipPosition="above">
            </a>
    </div>
    </div>
