<div class="header-container">
    <div class="timer"><div id="center-timer"><app-timer></app-timer></div></div>
    <img src="" alt="" width="200" height="100">
    <div class="main-nav">
        <a [routerLink]="['home']" [routerLinkActive]="['active-link']">Home</a>
        <a [routerLink]="['gallery']" [routerLinkActive]="['active-link']">Gallery</a>
        <a [routerLink]="['news']" [routerLinkActive]="['active-link']">News</a>
        <a [routerLink]="['currency']" [routerLinkActive]="['active-link']">Currency</a>
        <a [routerLink]="['about']" [routerLinkActive]="['active-link']">About</a>
    </div>
</div>

<!-- <section>
    <a mat-button [routerLink]="['home']" [routerLinkActive]="['active-link']">Home</a>
    <a mat-button [routerLink]="['about']" [routerLinkActive]="['active-link']">About</a>
</section> -->