<div class="tab-bar">
<mat-tab-group>

  <mat-tab label="Home">
    <div id="tab-content">
         Content 1
    </div> 
  </mat-tab>

  <mat-tab label="Gallery">
    <div id="tab-content">
      <app-grid></app-grid> 
    </div>
  </mat-tab>

  <mat-tab label="Cards">
    <div id="tab-content">
      <div id="cards">
      <app-cards></app-cards>
      </div>
    </div></mat-tab>

    <mat-tab label="Currency">
      <div id="tab-content">
                <app-currency></app-currency>
      </div></mat-tab>

      <mat-tab label="News">
        <div id="tab-content">
                  <app-news></app-news>
        </div></mat-tab>
    
</mat-tab-group>
</div>